Source: liblognorm
Priority: extra
Maintainer: Andre Lorbach <alorbach@adiscon.com>
Build-Depends: debhelper (>= 8),
    autotools-dev,
    pkg-config,
    python-sphinx,
    libxml2-dev,
    libestr-dev,
    libee-dev (>= 0.3.2),
    libfastjson-dev,
    hardening-wrapper
Standards-Version: 3.9.2
Section: libs
Homepage: http://www.liblognorm.com/
#Vcs-Git: git://git.debian.org/collab-maint/liblognorm.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/liblognorm.git;a=summary

Package: liblognorm1-dev
Section: libdevel
Architecture: any
Depends: liblognorm1 (= ${binary:Version}), ${misc:Depends},
    libee-dev, libestr-dev
Replaces: liblognorm-dev 
Breaks: liblognorm-dev
Description: Log normalizing library
 Liblognorm is a event and log normalization library that is capable of
 real-time processing. It provides the capability to normalize events to
 a set of standard formats.
 .
 This package contains the development files.

Package: liblognorm1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	libfastjson4
Replaces: liblognorm0
Breaks: liblognorm0
Description: Log normalizing library
 Liblognorm is a event and log normalization library that is capable of
 real-time processing. It provides the capability to normalize events to
 a set of standard formats.
 .
 This package contains the shared library.
